 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'); 

 *{
  font-family: "DM SANS" sans-serif;
 }

 body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px 70px;
  margin-bottom: 89px;
}

/* this is to style the navigation */
nav ul {
  display: flex;
  gap: 34px;
}

nav ul li {
  list-style: none;
  margin-right: 15px;
}

nav ul li a {
  font-size: 19px;
  text-decoration: none;
  color: #919DAB;
}

.btn-log, .btn-sign, .p-btn, .l-btn, .f-btn, .fx-btn, .fo-btn {
  outline: none;
  box-shadow: none;
  border: 0;
  background: #25DAC5;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.f-btn, .fx-btn {
  background: transparent;
  color: #25DAC5;
  padding: 0;
}

.fx-btn {
  color: #E93A7D;
  font-size: 10px;
}

.btn-sign, .l-btn {
  background: #fff;
  color: #919DAB;
}


.btn-log:hover {
  background: #fff;
  color: #25DAC5;
  border: 1px solid #25DAC5;
}

.btn-sign:hover, .l-btn:hover {
  background: #25DAC5;
  color: #fff;
  border-radius: 50px;
}

.l-btn:hover {
  padding: 20px 99px;
}

.p-btn {
  padding: 20px 60px;
  margin: 50px 0 0 0;
}

.l-btn {
  color: #25DAC5;
  font-weight: 700;
  padding: 20px 90px;
  margin-top: 30px;
}

.se-img {
  margin: 3px 0 0 0;
}

.se-img img {
  width: 70%;
  /* height: 16px; */
}

.logo-img, .cta {
  margin: 12px 0 0 0;
}

.menu{
  display: none;
}

#icons {
  display: none;
}

/* this is to style the hero section */

.hero {
  /* margin: 20px 70px; */
  text-align: center;
  width: 100%;
  height: 100vh;  
}

.hero h1 {
  font-size: 60px;
  color: #1E0E62;
  /* margin: 0; */
  margin-bottom: 38px;
}

.hero p {
  color: #15143966;
  font-weight: 600;
  font-size: 29px;
  margin-bottom: 79px;
}

/* this is to style the content area */
.content {
  background: url('./assets/Image.png') no-repeat center center /cover;
  background-color: #2F1893;
  width: 100%;
  height: 300px;
}

.content-text{
  text-align: center;
  padding-top: 50px;
}

.content-text h2{
  font-size: 30px;
  color: #ffffffa3;
  font-weight: 700;
}

.content-text p{
  font-size: 20px;
  font-weight: 300;
  color: #ffffffa3;
  line-height: -1px;
}

/* features styling */
.features {
  position: relative;
  margin: 30px 0;
}

.feature-right img {
  width: 40%;
  position: absolute;
  right: 0;
  top: 0;
}

.feature-left h5, .ecom-top h2 {
  color: #1E0E62;
  font-size: 25px;
}

.feature-left h3{
  color: #1E0E62;
  font-size: 35px;
}

.feature-left p {
  color: #1514393d;
  font-size: 19px;
}

.feature-left {
  padding: 6% 0 0 15%;
}

.chec {
  width: 10px;
  margin-right: 10px;
}


.testimonials {
  display: flex;
  justify-content: space-between;
  background: #1E0E62;
  padding: 80px 390px 0;
  margin-top: -20px;
}


.test-left, .test-right {
  display: flex;
  border: 1px solid #ffffff4b;
  border-radius: 10px;
  padding: 10px;
}

.test-img {
  margin: 15px 30px 0 0
}

.test-left p, .test-right p {
  color: #fff;
}

.test-left span, .test-right span {
  color: #ffffff4b;
  font-size: 12px;
}

/* ecommerece starts here */
.ecom-top {
  text-align: center;
  margin-top: 70px;
}

.ecom-top h2{
  font-size: 60px;
}

.ecom-top p {
  color: #15143966;
  font-size: 20px;
}

.text-head small, .text-footer small {
  color: #15143966;
}

.text-head p {
  color: #1E0E62;
}

.text-footer {
  display: flex;
  gap: 290px;
  /* justify-content: space-between; */
}


.text-footer button {
  border: 0;
  box-shadow: none;
  outline: none;
  color: #1E0E62;
  cursor: pointer;
}

.ecom-body {
  display: flex;
   gap: 60px; 
   justify-content: center;

}

.text-body img {
  width: 400px;
}

/*  ecommerece ends here */

/* pricing starts here */
main {
  margin-top: 120px;
}
ul,
li {
  list-style: none;
}

button {
  background: none;
  border: none;
}
/* RESET */

/* SPECIAL CLASSES */
.check {
  margin-right: 18px;
  color: #25dac5;
  font-size: 18px;
}

.check.hidden {
  visibility: hidden;
}
/* SPECIAL CLASSES */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main .main_section_details {
  margin-bottom: 64px;
}

main .main_section_details h1 {
  color: #1e0e62;
  font-size: 42px;
  font-weight: 700;
  width: 75%;
  margin-inline: auto;
  text-align: center;
}

main .main_section_details p {
  color: #15143966;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

main .main_pricing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 36px;
  width: 85%;
}

main .pricing_card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main .pricing_card .card_border {
  border: 2px solid #ebeaed;
  padding: 41px 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

main .pricing_card .card_border .price_name {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #1e0e62;
  text-transform: uppercase;
  letter-spacing: 3px;
}

main .pricing_card .card_border .price_cost {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  height: 70px;
}

main .pricing_card .card_border .price_cost > div:first-of-type {
  display: flex;
  align-items: center;
  gap: 10px;
}

main .pricing_card .card_border .price_cost > div:first-of-type h2 {
  color: #1e0e62;
  font-size: 58px;
}

main .pricing_card .card_border .price_cost > div:first-of-type sup {
  margin-top: -28px;
}

main .pricing_card .card_border .price_cost > div:last-of-type > span {
  display: block;
  color: #1e0e62;
}

main .pricing_card .card_border > p {
  color: #15143966;
  font-weight: 400;
  text-align: center;
}

main .pricing_card ul li {
  margin-bottom: 9px;
}

main .pricing_card ul li:nth-child(3),
main .pricing_card ul li:nth-child(4) {
  color: #ebeaed;
}

main .pricing_card button {
  border: 2px solid #ebeaed;
  height: 50px;
  width: 200px;
  border-radius: 999px;
  font-size: 18px;
  color: #1e0e62;
}

main .pricing_card:nth-child(2) .card_border {
  background-color: #2f1893;
  color: #fff;
}

main
  .pricing_card:nth-child(2)
  .card_border
  .price_cost
  > div:first-of-type
  h2 {
  color: #fff;
}

main .pricing_card:nth-child(2) .price_name {
  color: #fff;
}

main .pricing_card:nth-child(2) .card_border > p {
  color: #fff;
}

main .pricing_card:nth-child(2) ul li:nth-child(3) {
  color: inherit;
}

main .pricing_card:nth-child(2) button {
  height: 50px;
  width: 200px;
  border-radius: 999px;
  font-size: 18px;
  color: #fff;
  background-color: #25dac5;
}

main .pricing_card:nth-child(3) ul li:nth-child(3) {
  color: inherit;
}
main .pricing_card:nth-child(3) ul li:nth-child(4) {
  color: inherit;
}

/* pricing ends here */

/* contact starts here */
.container {
  margin-top: 120px;
  font-family: "dm sans", sans-serif;
  color: #ffffff;
  background-image: url(./assets/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #2f1893;
}

.main h1 {
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  margin-left: 200px;
}

.main p {
  font-weight: 320;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.1px;
  width: 769px;
  height: 64px;
  margin-bottom: 66px;
}

.main input,
textarea {
  border-color: Colors / rgba(255, 255, 255, 0.075);
  background-color: transparent;
}

.main input {
  width: 269px;
  height: 60px;
  border-radius: 100px;
  padding-left: 20px;
}

.main input,
textarea,
button::placeholder {
  color: #ffffff;
}

.main textarea {
  width: 469px;
  height: 150px;
  border-radius: 10px;
}

.main button {
  background-color: #25dac5;
  color: #ffffff;
  width: 170px;
  height: 60px;
  border-radius: 100px;
  border: none;
  margin-top: 222px;
  margin-left: -495px;
}

.mail {
  display: block;
  justify-content: center;
  align-items: center;
}

.form input {
  display: block;
  margin-top: 1opx;
  outline: none;
  border: none;
  border: 1px solid #ffffff41;
}

.form {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

#text {
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* contacts end here */

/* footer strts here */
.footer-section, .footer-left, .foot-bot {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  gap: 100px;
}

.footer-left small {
  display: block;
  color: #1E0E62;
  font-weight: 400;
  padding: 10px 0;
}

..foot-bot p {
  color: #1E0E62;
  font-weight: 600;
}

.footer-left p, .footer-right p {
  color: #141414;
  font-weight: 600;
}

.footer-right img {
  width: 15%;
  margin-right: 20px;
}

.hr-line {
  border: 1px solid #EBEAED;
}

.foot-bot {
  margin: 70px 0;
}

.footer-section {
  margin: 0 0 70px 0;
}

.foot-bot small {
  color: #15143966;
}

.fo-btn {
  background: #482BE7;
}

footer {
  padding: 40px;
}

.foot-img {
  margin: 12px 0 0 0;
}

/* footer endss here */

/* media query strts here */


@media (max-width: 768px) {
  header{
    flex-direction: column;
    margin: 10px 10px;
  }
  nav ul{
   flex-direction: column;
  }
  
.se-img{
  width: 9%;
}

nav,.cta{
  display: none;
}

#icons {
  display: block;
  font-weight: 900;
  color: #2F1893;
  margin-top: 30px;
}

.mobile_view{
  display: flex;
  justify-content: space-between;
}

/* hero seection */
 .hero h1{
font-size: 30px;
}


.hero{
  text-align: left;
  margin: 20px;
  height: 50vh;
}

br{
  display: none;
}

.hero p{
  font-size: 18px;
}

.p-btn {
  margin: 10px 0 0 0;
}

.p-btn,.l-btn{
  width: 100%;
  padding: 10px;
}

.l-btn:hover {
  height: 10px;
}

/* hero seection */

/* content section */



.content-text{
  padding-top: 18px;
}

.content-text h2{
  font-size: 25px;
  font-weight: bold;
}

.content-text p{
  font-size: 20px;
}
/* content section */

/* features  */

.feature-left h3{
  font-size: 25px;
}

.feature-left h5{
  font-size: 19px;
}

.feature-left {
  padding: 2% 0 0 10%;
}

.feature-left p{
  font-size: 18px;
}

.feature-right {
  display: none;
}

.feature-left h3 {
  font-size: 20px;
}
/* features  */

/* testimonials */
.testimonials {
  padding: 40px 10px 0;
  flex-direction: column;
}

.test-left {
  margin-bottom: 15px;
}

/* testimonials */

/* ecommerce */
.ecom-top h2{
  font-size: 30px;
}

.ecom-body {
  flex-direction: column;
  margin: 2px;
  align-items: center;
}

.text-body img {
  width: 290px;
}

.text-footer {
  gap: 190px;
}

.ecom-top p {
  font-size: 18px;
}

/* ecommerce */

/* pricing */

main .main_section_details h1 {
  font-size: 32px;
  width: 95%;
  margin-bottom: 40px;
}

main .main_section_details p {
  width: 81%;
  padding-left: 39px;
  line-height: 26px;
  text-align: center;
}


main .main_pricing {
  display: block;
}

.pricing_card {
  margin-bottom: 35px;
}

main .pricing_card button,main .pricing_card:nth-child(2) button{
  width: 100%;
}
/* pricing */

/* contact */
.container {
  height: 80vh;
  width: 100%;
  position: relative;
}

.main h1 {
  font-size: 32px;
  line-height: 52px;
  margin-left: 300px;
  margin-top: 25px;
}

.main p {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0;
  width: 40%;
  margin-left: 270px;
}

.main textarea {
  width: 250px;
  height: 40px;
  margin-left: 30%;
}

.mail input {
  width: 220px;
  height: 40px;
  margin-left: 30%;
}


.main button {
  width: 300px;
  height: 30px;
  margin-inline: 305px;
  margin-top: 0px;

}

.form {
  flex-direction: column;
}

/* contact */

/* footer */
.footer-section, .footer-left, .foot-bot {
  flex-direction: column; 
  gap: 30px;
}

.footer-right img {
  width: 5%;
}

/* footer */


}
